{% load static %}
{% csrf_token %}

<!-- {{ request.session.username }} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TRAINING AND PLACEMENT CELL</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" crossorigin="anonymous"/>
    <script src="{% static 'plugins/js/font-awesome-all.min.js' %}" crossorigin="anonymous"></script>

    <style>
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, 1);
        }

        .dataTables_info, .dataTables_length, .dataTables_filter {
            display: none;
        }
    </style>

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PLACEMENT CELL</a><button class="btn btn-link btn-sm order-1 order-lg-0"
            id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/logout/">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="/admin_master/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Admin
                        </a>

                        <a class="nav-link" href="/approved/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Approved Papers
                        </a>

                        <a class="nav-link" href="/company/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Company details
                        </a>

                        <a class="nav-link" href="/placement/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Placement details
                        </a>

                        <!-- <a class="nav-link" href="/annual_placement/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Annual Placement details
                        </a> -->
                        <a class="nav-link" href="/study/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                        Study Material
                        </a>

                        <!-- <a class="nav-link" href="/job/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Add Job
                        </a>
                        <a class="nav-link" href="/job_applied/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Job Applied List
                        </a> -->
                        
                        <a class="nav-link" href="/workshop/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                        Workshop details
                        </a>
                        <a class="nav-link" href="/workshop_applied/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                        Workshop Applied List
                        </a>
                        <a class="nav-link" href="/campus/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Campus details
                        </a>

                        <a class="nav-link" href="/question_master/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Questions
                        </a>

                        <a class="nav-link" href="/configure_test/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Configure Test
                        </a>

                        <a class="nav-link" href="/news/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            News
                        </a>

                        <a class="nav-link" href="/student/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Student
                        </a>

                        <a class="nav-link" href="/admin_test/">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Test Result
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div class="container-fluid pt-3">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"></li>
                    Student Details<li class="user-name"></li>
                </ol>

                <div class="row">
                    <div class="col-12">
                        <form>
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-12 text-right mb-4">
                                            <!-- <button type="button" class="btn btn-success" data-toggle="modal"
                                                data-target="#add_modal" id="add_user">
                                                Add
                                            </button> -->
                                        </div>
                                        <div class="col-12">     
                                            <div class="card mb-4">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="tableData" width="100%"
                                                            cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Sl No</th>
                                                                    <th style="display: none;">ID</th>
                                                                    <th>Name</th>
                                                                    <th>USN</th>
                                                                    <th>Email ID</th>
                                                                    <th>Mobile No</th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            
                                                            <tbody>
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; TRAINING AND PLACEMENT CELL <script>document.write(new Date().getFullYear())</script></div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- SNACKBAR/TOAST -->

    <div id="snackbar-success">success</div>
    <div id="snackbar-error">error</div>

    <!-- SNACKBAR/TOAST -->

    <!-- Loader -->
    <div class="se-pre-con"></div>
    <!-- Loader -->

    <!-- ADD WORK  -->

    <div class="modal fade" id="add_modal">
            <div class="modal-dialog" style="width: 50%;">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>

                    <!-- Modal body -->
                   <div class="modal-body">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>File Name<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="txtName">
                                </div>
                                <div class="form-group">
                                    <label>File Description<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="txtDescription">
                                </div>  
                                <div class="form-group">
                                    <label>Company Name<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="txtCompany">
                                </div>                             
                                    <div class="form-group">
                                        <label>Upload File <span class="text-danger">*</span></label>
                                        <input type="file" class="form-control" id="txtFile" onchange="show(this)";>
                                    </div>
                             

                            </div>
                            
                            <div class="col-12 text-center mt-3">
                                <button type="button" class="btn btn-success" id="btn_add">
                                    <span class="spinner-border spinner-border-sm"></span> Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>

        <!-- ADD WORK -->

        <!-- EDIT WORK  -->

        <!-- The Modal -->
        <div class="modal fade" id="edit_modal">
            <div class="modal-dialog" style="width: 50%;">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Update</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>

                    <!-- Modal body -->
                   <div class="modal-body">
                    <form action="#">
                        <input type="hidden" id="edit_id">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>File Name <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="txtName1">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>File Description <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="txtDescription1">
                                </div>
                            </div>

                             <div class="col-md-12">
                                <div class="form-group">
                                    <label>Company Name<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="txtCompany1">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Upload File <span
                                            class="text-danger">*</span></label>
                                    <input type="file" class="form-control" id="txtFile1">
                                    <input type="hidden" id="txtFileText1">
                                </div>
                            </div>

                            <div class="col-12 text-center mt-3">
                                <button type="button" class="btn btn-success" id="btn_update">
                                    <span class="spinner-border spinner-border-sm"></span> Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>

        <!-- EDIT WORK -->


        <!-- Delete Field -->

        <!-- The Modal -->
        <div class="modal fade" id="delete_modal">
            <div class="modal-dialog" style="width: 50%;">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p class="text-center">
                            Are you sure you want to delete?
                        </p>
                        <input type="hidden" id="delete_id">
                        <div class="row">
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-success" id="btn_delete">Yes</button>
                            </div>
                            <div class="col-6 text-left">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                    No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Delete Field -->

    <script src="{% static 'plugins/js/jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/js/jquery.dataTables.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/js/dataTables.bootstrap4.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jsStudent.js' %}"></script>
</body>
</html>